<section class="section form">
    <div data-type="narrow" class="container flow">

        <h2 class="heading-2">book and appointment</h2>
        <p>Please fill out the form below to book your appointment</p>

        <form action="POST" class="grid-auto-fit">
            <div class="form-group">
                <label for="name">Your name</label>
                <input placeholder="John Doe" id="name" type="text">
            </div>
            <div class="form-group">
                <label for="email">E-mail address</label>
                <input placeholder="johnny1999@gmail.com" id="email" type="email">
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <input placeholder="mm/dd/yyyy" id="date" type="datetime-local">
            </div>
            <div class="form-group">
                <label for="phone">Phone number</label>
                <input placeholder="555-555-5555" id="phone" type="tel">
            </div>
            <div class="form-group">
                <label for="service">Select service</label>
                <input placeholder="Hair Cut" id="service" type="text">
            </div>
            <div class="form-group">
                <label for="employee">Barber's name (optional)</label>
                <input id="employee" type="text">
            </div>
            <button class="button" data-type="accent">
                    Book appointment
            </button>
        </form>
    </div>
</section>