<section class="hours section">
    <div class="container flow">
        <h2 class="heading-2">hours</h2>
        <p>Open 7 days a week to serve your hair cutting needs</p>

        <ul class="schedule">
            <li>
                <strong class="heading-3">Mon</strong>
                <time datetime="9:00-18:00">9:00 - 18:00</time>
            </li>
            <li>
                <strong class="heading-3">tue</strong>
                <time datetime="9:00-18:00">9:00 - 18:00</time>
            </li>
            <li>
                <strong class="heading-3">wed</strong>
                <time datetime="9:00-18:00">9:00 - 18:00</time>
            </li>
            <li>
                <strong class="heading-3">thu</strong>
                <time datetime="9:00-18:00">9:00 - 18:00</time>
            </li>
            <li>
                <strong class="heading-3">fri</strong>
                <time datetime="9:00-21:00">9:00 - 21:00</time>
            </li>
            <li>
                <strong class="heading-3">sat</strong>
                <time datetime="10:00-21:00">10:00 - 21:00</time>
            </li>

            <li>
                <strong class="heading-3">sat</strong>
                <time datetime="10:00-18:00">10:00 - 21:00</time>
            </li>
         
        </u>
    </div>
</section>