<section class="pricing section">
    <div data-type="narrow" class="container flow">
        <h2 class="heading-2">pricing</h2>

        <ul class="grid-auto-fit">
            <li>
                <strong class="heading-3">adult cut</strong>
                <p>$25</p>    
            </li>
            <li>
                <strong class="heading-3">beard trim</strong>
                <p>$25</p>    
            </li>
            <li>
                <strong class="heading-3">kid cut</strong>
                <p>$21</p>    
            </li>
            <li>
                <strong class="heading-3">how towel shave</strong>
                <p>$15</p>    
            </li>
            <li>
                <strong class="heading-3">Cut & wash</strong>
                <p>$35</p>    
            </li>
            <li>
                <strong class="heading-3">head & beard</strong>
                <p>$45</p>    
            </li>
        </ul>

    </div>
</section>