<section class="services section">
    <div class="container flow">
        <h2 class="heading-2">our services</h2>
        <div class="grid-auto-fit">
            <div class="card">
                <h3 class="card__heading">hair cutting</h3>
                <p>A quick clean up or a totally new style,
                    we have you covered.</p>
            </div>
            <div class="card">
                <h3 class="card__heading">Hot shaves</h3>
                <p>There is no better way to pamper yourself than to have a hot shave.</p>
            </div>
            <div class="card">
                <h3 class="card__heading">Beard cleanup</h3>
                <p>Our barbers are expects when it comes to working on beards</p>
            </div>
            <div class="card">
                <h3 class="card__heading">Hair coloring</h3>
                <p>Expert color work to help you keep looking your best.</p>
            </div>
            <div class="card">
                <h3 class="card__heading">Kids</h3>
                <p>Bring your kids with you while your at it, we love working them them too!</p>
            </div>
            <div class="card">
                <h3 class="card__heading">Products</h3>
                <p>We carry a wide range of hair and beard products.</p>
            </div>

            
        </div>
        <a href="/" class="button" data-type="accent">Book appointment</a>
    </div>
</section>