@use "../abstracts" as *;

.hours {
    --flow-space: #{$hours-heading-bottom-spacing};
    text-align: center;
    background-color: $body-background-color;
    color: $hours-font-color;
   
    h2 {
        line-height: 1;
    }

    p {
        max-inline-size: 60ch;
        margin-inline: auto;
    }

    ul {
        --flow-space: #{$hours-subheading-bottom-spacing};
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        row-gap: 2rem;
        
    }

    li {
        padding-inline: 2rem;
        display: grid;
        gap: $hours-scheduled-day-spacing;
  


    }

}