@use "../abstracts" as *;

.logo {
    max-inline-size: 15rem;

    .site-header & {
        fill: $logo-fill-header;
        inline-size: $logo-size-header;
    }

    .site-footer & {
       fill: $site-footer-logo-fill;
       inline-size: $logo-size-footer;
    }

  
} 