@use "../abstracts" as *;

.site-header {
    background-color: $site-header-background-color;
    color: $site-header-color;
    padding-block: $site-header-padding-block;

    &__layout {
        display: flex;
        flex-flow: row wrap;
        justify-content: $site-header-small-screen-justification;
        align-items: $site-header-alignement;

        @include mq(medium) {
            justify-content: $site-header-medium-screen-justification;
        }

    }
}