{{ define "main" }}
    <h1 class="ff-accent">hello world</h1>

    <p class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem vel ipsam ad itaque maxime numquam incidunt ipsum, facilis voluptatum officia voluptatem laudantium reiciendis error vero nulla aliquid, impedit earum dignissimos!</p>

    <p class="container" data-type="narrow">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem vel ipsam ad itaque maxime numquam incidunt ipsum, facilis voluptatum officia voluptatem laudantium reiciendis error vero nulla aliquid, impedit earum dignissimos!</p>
  
    <p class="container" data-type="wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, nemo rem dicta consequuntur qui, molestiae nulla quos eaque unde quod id, nihil tempora. Est, fuga beatae? Sunt id vel labore modi? Sequi explicabo, commodi quibusdam quia voluptates omnis placeat vitae sed ab, nobis a! Aliquid quidem dolor animi, non fugit ipsum unde deleniti officiis dolorum nemo veniam, mollitia maiores laboriosam hic esse at sequi iste illum accusantium fuga. Neque, odit voluptas dolorum quaerat sed tenetur impedit ex nam rem officiis possimus, molestias, id at totam non inventore esse placeat? Deleniti voluptates nulla deserunt quod quia in praesentium, et excepturi dolores!</p>

{{ end }}