@font-face {
    font-family: "Alegreya SC";
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/alegreya-sc-v25-latin-700.woff2") format("woff2");
  }

  @font-face {
    font-family: "Source Sans 3";
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/source-sans-3-v15-latin-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Source Sans 3";
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/source-sans-3-v15-latin-500.woff2") format("woff2");
  }

  @font-face {
    font-family: "Source Sans 3";
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/source-sans-3-v15-latin-700.woff2") format("woff2");
  }
  